[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "3.1"
psycopg2-binary = "*"
djangorestframework = "*"
django-cors-headers = "*"
pillow = "*"
requests = "*"
pytz = "*"
django-rest-auth = "*"
dj-rest-auth = "*"
django-allauth = "*"
django-import-export = "*"
gunicorn = "*"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.9"
